<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body id="producto" style="background-image: url(/images/fondoMalla.png);">
    <nav>
        <a href="/"><img src="/images/logo.png" alt="" style="width:200px" ></a>

        <ol>
            <li>
                <div class="button" style="background-image:url(/images/makeup.png)">
                    <h3>
                        <em>
                            <u>MAKEUP</u>
                        </em>
                    </h3>
            </li>
            <li>
                <div class="button" style="background-image:url(/images/skincare.png)">
                    <h3>SKINCARE</h3>
            </li>
            <li>
                <div class="button" style="background-image:url(/images/body.png)">
                    <h3>BODY</h3>
            </li>
        </ol>
        <button>
            <a href="checkout">
                <div class="carritoview">
                    <img src="/images/cart.png" alt=""> </div>
                <div class="carrito">
                    0
                </div>
            </a>
        </button>
    </nav>
    <div class="contenido">
        <div class="imagenProducto">
            <img src="{{prod.imagen}}" alt="">
        </div>
        <div class="infoProducto">
            <div class="contenedorInfo">
                <h1>{{prod.nombre}}</h1>
                <h2>${{prod.precio}}</h2>
                <p>{{prod.descripcion}}</p>
                <p>Size: {{prod.tamaño}}</p>
                    <button class="agregar">Add to cart</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="content">
            <div class="about">
                <ol>
                    <h3>ABOUT US</h3>
                    <a href="#">Stocklists</a>
                    <a href="#">Our Story</a>
                    <a href="#">Wholesale</a>
                    <a href="#">Press</a>
                </ol>
            </div>
            <div class="suport">

                <ol>
                    <h3>SUPPORT</h3>
                    <a href="#">Customer Support</a>
                    <a href="#">Shipping and Returns</a>
                    <a href="#">Contact us</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">F.A.Q.</a>
                </ol>
            </div>
            <div class="etc">
                <img src="/images/logo.png" alt="">
            </div>

        </div>

    </div>

</body>

</html>